# Gradle

.gradle/
build/
out/
classes/

# Eclipse

*.launch

# IntelliJ IDEA / Consulo

.consulo/
.idea/
*.iml
*.ipr
*.iws

# VSCode

.settings/
.vscode/
bin/
.classpath
.project

# MacOS

*.DS_Store

# Fabric

run/

.ignored/
